<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Error</title>
</head>
<body>
    <div>There's a problem with the page you requested: <span th:text="${path}"></span></div>
    <table class="">
        <tr>
            <td>Date:</td>
            <td data-th-text="${timestamp}"></td>
        </tr>
        <tr>
            <td>Status Code:</td>
            <td data-th-text="${status}"></td>
        </tr>
        <tr>
            <td>Error:</td>
            <td data-th-text="${error}"></td>
        </tr>
    </table>
    <br>
    <div>Further Details:</div>
    <div th:text="${message}"></div>
    <div th:text="${trace}" class="container-fluid"></div>
</body>
</html>