<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register for event</title>
</head>

<body>
    <h1>Register event</h1>
    <h4>You have chosen to register for the following event:</h4>
    <div th:object="${event}">
        <div th:text="*{eventName}"></div>
        <div th:text="${#dates.format(event.getEventDate, 'dd-MM-yyyy')}"></div>
    </div>

    <form data-th-object="${registration}" method="POST" th:action="@{/registration/register}">
        <input type="text" th:value="${event.eventId}" name="eventId" hidden>
        <br>
        <table>
            <tr>
                <td>Full Name</td>
            </tr>
            <tr>
                <td>
                    <input type="text" name="name" data-th-field="*{name}">
                </td>
                <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:errorclass="error"></td>
            </tr>

            <tr>
                <td>DOB</td>
            </tr>
            <tr>
                <td><input type="date" name="dob" th:field="*{dob}"></td>
                <td th:if="${#fields.hasErrors('dob')}" th:errors="*{dob}" th:errorclass="error"></td>
            </tr>

            <tr>
                <td>Email</td>
            </tr>
            <tr>
                <td><input type="text" name="email" th:field="*{email}"></td>
                <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:errorclass="error"></td>
            </tr>

            <tr>
                <td>Mobile No</td>
            </tr>
            <tr>
                <td><input type="text" name="mobile" th:field="*{mobile}"></td>
                <td th:if="${#fields.hasErrors('mobile')}" th:errors="*{mobile}" th:errorclass="error"></td>
            </tr>

            <tr>
                <td>Gender</td>
            </tr>
            <tr>
                <td><input type="text" name="gender" th:field="*{gender}"></td>
                <td th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}" th:errorclass="error"></td>
            </tr>

            <tr>
                <td>Number of Tickets</td>
            </tr>
            <tr>
                <td><input type="text" name="tickets" th:field="*{tickets}"></td>
                <td th:if="${#fields.hasErrors('tickets')}" th:errors="*{tickets}" th:errorclass="error"></td>
            </tr>
        </table>
        <button type="submit">Register</button>
    </form>
</body>

</html>